<ion-view data-comp-id="ionic-view.1">
    <ion-content class=" dark-bg" data-comp-id="ionic-content.1"
        style="background-color: rgb(27, 27, 27);">
        <div class=" card" data-comp-id="div.1" style="margin: 30% 4% 0%;">
            <div class="item item-divider" data-comp-id="div.2">
                Operation Success
            </div>
            <div class="row" data-comp-id="row.1" style="margin: 6% 0% 4%;">
                <div class="col" data-comp-id="column.1"></div>
                <div class="col col-66" data-comp-id="column.2">
                    <i class="icon ion-close-circled" data-comp-id="icon.1"
                        style="float: left; color: rgb(255, 0, 0); font-size: 24px; margin: 0px 0px 0px 8px;"></i>
                    <div data-comp-id="text.1"
                        style="float: left; font-size: 16px; color: rgb(255, 0, 0); margin: 0px 0px 0px 8px;">Request Rejected</div>
                </div>
                <div class="col" data-comp-id="column.3"></div>
            </div>
            <div class="row" data-comp-id="row.2" style="margin: 0%;">
                <div class="col" data-comp-id="column.4"></div>
                <div class="col col-50" data-comp-id="column.5">
                    <button class="button button-block" data-comp-id="button.1"
                        ng-click="app.go('app.leaveapproval_v2.approval')">OK</button>
                </div>
                <div class="col" data-comp-id="column.6"></div>
            </div>
        </div>
    </ion-content>
</ion-view>