<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized navbar-clr"
        data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">LTP</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-earth" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" dark-bg" data-comp-id="ionic-content.1"
        style="background-color: rgb(48, 48, 48);">
        <div class="" data-comp-id="div.1" style="background-color: #1b1b1b;">
            <div class="row" data-comp-id="row.1">
                <div class="col text-center" data-comp-id="column.1" style="padding: 4% 0%;">
                    <div data-comp-id="text.1"
                        style="font-size: 18px; color: rgb(255, 255, 255); margin: 2% 0% 0%;">{{data.name}}</div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.2" style="">
            <div class="row" data-comp-id="row.2">
                <div class="col text-center" data-comp-id="column.2"
                    ng-click="app.call('home.leaveApproval')"
                    style="margin: 2%; background-color: rgb(27, 27, 27); padding: 10px 20px 20px;">
                    <div data-comp-id="text.2"
                        style="color: rgb(196, 157, 232); margin: 0px 0px 10px;">Leave Approval</div>
                    <i class="icon ion-calendar" data-comp-id="icon.1"
                        style="font-size: 56px; color: rgb(111, 73, 146);"></i>
                </div>
                <div class="col text-center" data-comp-id="column.3"
                    ng-click="app.call('home.timeCorrection')"
                    style="margin: 2%; padding: 10px 20px 20px; background-color: rgb(27, 27, 27);">
                    <div data-comp-id="text.3"
                        style="color: rgb(196, 157, 232); margin: 0px 0px 10px;">Time Correction</div>
                    <i class="icon ion-clock" data-comp-id="icon.2"
                        style="font-size: 56px; color: rgb(111, 73, 146);"></i>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col text-center" data-comp-id="column.4"
                    style="margin: 2%; background-color: rgb(27, 27, 27); padding: 10px 20px 20px;">
                    <div data-comp-id="text.4"
                        style="color: rgb(196, 157, 232); margin: 0px 0px 10px;">Leave Revoke Approval</div>
                    <i class="icon ion-calendar" data-comp-id="icon.3"
                        style="font-size: 56px; color: rgb(111, 73, 146);"></i>
                </div>
                <div class="col text-center" data-comp-id="column.5"
                    style="margin: 2%; padding: 10px 20px 20px; background-color: rgb(27, 27, 27);">
                    <div data-comp-id="text.5"
                        style="color: rgb(196, 157, 232); margin: 0px 0px 10px;">Shift Change Approval</div>
                    <i class="icon ion-clock" data-comp-id="icon.4"
                        style="font-size: 56px; color: rgb(111, 73, 146);"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>